html{
    font-family: 'Roboto', sans-serif;
}

:root{
    --sideBarColor:#0AA1DD;
    --cardColor:white;
    --bgColor: rgb(221, 228, 230);
    --btnSize:80px;
    --iconSize:30px
}

body{
    margin:0;
    padding:0;
}

input{
    border:none;
}

.titleText{
    margin-left:10px;
    margin-right:0;
}

.pfp{
    width:40px;
    height:40px;
}

.postBtn{
    background-color: var(--sideBarColor);
    width:var(--btnSize);
    height:30px;
    border:none;
    border-radius: 2rem;
    color:white;
    font-weight:bold;
}

#mainPfp{
    width:80px;
    height:80px;
}

#container{
    display:grid;
    height:100vh;
    width:100vw;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
}

#header{
    display:grid;
    grid-template-rows: 2fr 3fr;
    grid-template-columns: 3fr 2fr;
    background-color:var(--cardColor) ;
    grid-row:1/2;
    grid-column:2/-1;
    box-shadow:  5px 0px 5px black;
    z-index:2;

}

#searchBarSection{
    margin-left:10px;
    margin-top:20px;
    display:grid;
    grid-template-columns:min-content 80% ;
    grid-template-rows: 20px;
}

#searchBar{
    width:auto ;
    height:auto;
    background-color:var(--bgColor);
    border-radius: 2rem;;
}

#topRightHeader{
    margin-top:10px;
    display:grid;
    grid-template-columns:  repeat(2,60px)  120px;
}

#bellIcon{
    margin-top:10px;
}

#userName{
    margin-left:20px;
}

#bottomLeftHeader{
    display:grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
}

#mainPfp{
    grid-row:1/-1;
}

#greetWord{
    margin:10px 0 10px 0 ;
}

#mainUserName{
    margin:0;
    font-size: 1.5rem;
}

#bottomRightHeader{
    display:grid;
    grid-template-columns: repeat(3,calc(var(--btnSize)*1.5));
    align-items: center;
}

#sidebar{
    display:grid;
    grid-template-rows: 2fr repeat(5,1fr) 2fr repeat(3,1fr) 30%;
    background-color: var(--sideBarColor);
    grid-row:1/-1;
    grid-column:1/2;
}

.sideBarSection{
    display:grid;
    grid-template-columns: calc(var(--iconSize) + 20px) 1fr;
}
.sideBarSection.logoSection{
    grid-template-columns: 70px 1fr;
}

#logo{
    width:60px;
    height:60px;
}

#logoText{
    font-size:2rem;
}

.sideBarText{
    margin:10px 0 0 0;
    color:white;
    font-weight:bold;
}

.sideBarIcon{
    margin-left:10px;
    width:var(--iconSize);
    height:var(--iconSize);
}

#mainContent{
    display:grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 20px;
    background-color: var(--bgColor);
    grid-row:2/-1;
    grid-column:2/3;
}

#cardSection{
}

#cardContainer{
    height:90%;
    display:grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: 1fr 1fr;
    gap:20px;
}

.card{
    border-radius:1rem;
    background-color: var(--cardColor);
    display:grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 1fr;
    border-left:10px solid gold;
    margin-left:10px;
    overflow:auto;
}

.contentText{
    margin-left:10px;
    font-family:sans-serif;
}

.cardHeader{
    margin-left:10px;
}

.cardImageWrapper{
    display:grid;
    grid-template-columns: repeat(3,min-content);
    justify-self: flex-end;
    justify-content:flex-end; 
    align-items:flex-end;
}

.cardIcon{
    width:20px;
    height:20px;
    margin-left:5px;
    margin-right:20px;
    margin-bottom:10px;
}

#infoSection{
    display:grid;
    grid-template-rows:1fr 1fr 30%;
    row-gap:20px;
}

.infoContainer{
    background-color: var(--bgColor);
    display:grid;
    grid-template-rows:1fr repeat(3,2fr);
}

.infoCard{
    background-color: var(--cardColor);
    border-bottom:solid 2px var(--bgColor);
    height:auto;
    border-radius:1rem;
}

#trendContainer{
    display:grid;
    grid-template-rows: min-content repeat(4,1fr);
}

.trendCard{
    display:grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
}

.trendPfp{
    grid-row:1/-1;
    margin-top:5px;
    margin-left:5px;
}